doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='/stylesheets/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/dist/css/skins/_all-skins.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
body.hold-transition.skin-blue.sidebar-mini
  .wrapper
    // Main Header
    header.main-header
      // Logo
      a.logo(href='/')
        // mini logo for sidebar mini 50x50 pixels
        span.logo-mini
          i.fa.fa-home
        // logo for regular state and mobile devices
        span.logo-lg 2007 E 9th
      // Header Navbar
      nav.navbar.navbar-static-top(role='navigation')
        // Sidebar toggle button
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only Toggle navigation
    // Left side column. contains the logo and sidebar
    aside.main-sidebar
      // sidebar: style can be found in sidebar.less
      section.sidebar
        // Sidebar Menu
        ul.sidebar-menu
          li.header MENU
          // Optionally, you can add icons to the links
          li.active
            a(href='/')
              i.fa.fa-link
              span Home
          li
            a(href='/dining')
              i.fa.fa-link
              span Dining
          li
            a(href='/kitchen')
              i.fa.fa-link
              span Kitchen
          li
            a(href='/living')
              i.fa.fa-link
              span Living
          li
            a(href='/loft')
              i.fa.fa-link
              span Upstairs Loft
          li
            a(href='/laundry')
              i.fa.fa-link
              span Laundry
          li.treeview
            a(href='/')
              i.fa.fa-link
              span Bedrooms
              i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='/bed_master') Master
              li
                a(href='/bed_guest') Guest
          li.treeview
            a(href='/')
              i.fa.fa-link
              span Bathrooms
              i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='/bath_half') 1st Floor
              li
                a(href='/bath_master') Master
              li
                a(href='/bath_guest') Guest
        // /.sidebar-menu
      // /.sidebar
    // Content Wrapper. Contains page content
    .content-wrapper
      // Content Header (Page header)
      section.content-header
       // Main content
      section.content
        block content
      // /.content
    // /.content-wrapper
    // Main Footer
    footer.main-footer
      // To the right
      .pull-right.hidden-xs
        | Enjoy Your Stay!
      // Default to the left
      strong
        | Any Questions? Text Me @ 216.973.3594
// ./wrapper
// REQUIRED JS SCRIPTS
// jQuery 2.1.4
script(src='plugins/jQuery/jQuery-2.1.4.min.js')
// Bootstrap 3.3.5
script(src='bootstrap/js/bootstrap.min.js')
// AdminLTE App
script(src='dist/js/app.min.js')
//
  Optionally, you can add Slimscroll and FastClick plugins.
  Both of these plugins are recommended to enhance the
  user experience. Slimscroll is required when using the
  fixed layout.
